.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: black;
    color: white;
    position: fixed;
    border-top: black;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }